Import libraries.

In [54]:
import pandas as pd    # data formatting
import numpy as np     # numeric library
from sklearn.neighbors import KNeighborsClassifier  # machine learning
from sklearn.externals import joblib # exporting model
from sklearn.metrics import confusion_matrix
import random

In [55]:
%matplotlib inline
from matplotlib import pylab, pyplot  # plotting

Read data.

In [56]:
data = pd.read_csv('seed_data/scores.csv')

Pivot data.

In [57]:
d = data.pivot(index='performer_id', columns='producer_id', values='score')

In [58]:
d.head()

producer_id,70,72,82,110,112,123,146,158,170,184,...,1602238,1612048,1615875,1628850,1640674,1646412,1663511,1687278,1702507,1706060
performer_id,,,,,,,,,,,,,,,,,,,,,
1,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,1,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,1,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,1,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
5,0,1,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

This dataframe has 9,665 rows and 307 columns.  Each row corresponds to 1 performer.  Each column corresponds to a producer.

In [59]:
d.shape

(9665, 307)

In [60]:
d.tail()

producer_id,70,72,82,110,112,123,146,158,170,184,...,1602238,1612048,1615875,1628850,1640674,1646412,1663511,1687278,1702507,1706060
performer_id,,,,,,,,,,,,,,,,,,,,,
1734410,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1734423,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1734890,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1735951,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1736560,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
d.describe()

producer_id,70,72,82,110,112,123,146,158,170,184,...,1602238,1612048,1615875,1628850,1640674,1646412,1663511,1687278,1702507,1706060
count,9665.000000,9665.000000,9665.000000,9665.000000,9665.000000,9665.000000,9665.000000,9665.000000,9665.000000,9665.000000,...,9665.000000,9665.000000,9665.000000,9665.000000,9665.000000,9665.000000,9665.000000,9665.000000,9665.0,9665.000000
mean,0.030729,0.017072,0.021935,0.026280,0.022659,0.019245,0.008898,0.016968,0.014796,0.007243,...,0.000207,0.000103,0.000103,0.000207,0.000310,0.000103,0.000310,0.000103,0.0,0.000103
std,0.172593,0.129546,0.146478,0.159976,0.148822,0.137391,0.093914,0.129160,0.120740,0.084799,...,0.014384,0.010172,0.010172,0.014384,0.017616,0.010172,0.017616,0.010172,0.0,0.010172
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000

Show performer's 5 nearest neighbors.

In [62]:
knn = KNeighborsClassifier(n_neighbors=5)

In [63]:
list(d.index)

[1,
 2,
 3,
 4,
 5,
 13,
 18,
 20,
 21,
 22,
 32,
 34,
 38,
 42,
 44,
 45,
 46,
 56,
 58,
 59,
 63,
 64,
 67,
 68,
 69,
 70,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 85,
 86,
 88,
 89,
 92,
 93,
 100,
 103,
 105,
 107,
 108,
 110,
 111,
 112,
 115,
 117,
 118,
 119,
 122,
 123,
 124,
 126,
 127,
 130,
 132,
 135,
 140,
 141,
 142,
 144,
 146,
 147,
 148,
 149,
 150,
 156,
 157,
 158,
 160,
 161,
 162,
 167,
 169,
 170,
 173,
 176,
 177,
 178,
 179,
 180,
 182,
 183,
 184,
 186,
 190,
 191,
 192,
 195,
 196,
 197,
 198,
 201,
 202,
 203,
 204,
 206,
 207,
 209,
 210,
 211,
 215,
 216,
 217,
 219,
 220,
 221,
 223,
 224,
 225,
 228,
 229,
 230,
 232,
 233,
 236,
 238,
 240,
 244,
 245,
 249,
 250,
 251,
 255,
 257,
 260,
 262,
 266,
 267,
 270,
 272,
 276,
 278,
 282,
 286,
 287,
 288,
 289,
 291,
 293,
 296,
 301,
 303,
 304,
 305,
 306,
 307,
 310,
 311,
 312,
 315,
 316,
 318,
 319,
 320,
 322,
 323,
 326,
 327,
 328,
 329,
 330,
 332,
 334,
 335,
 337,
 338,
 339,
 340,
 343,
 344,
 345,
 346,
 349,
 350,
 351,
 354,
 357,
 358,
 359,
 362,
 365,
 367,
 369,
 372,
 373,
 375,
 377,
 379,
 382,
 383,
 385,
 387,
 388,
 390,
 396,
 397,
 399,
 401,
 402,
 403,
 404,
 405,
 406,
 409,
 411,
 412,
 413,
 415,
 416,
 420,
 425,
 428,
 430,
 432,
 436,
 437,
 438,
 440,
 443,
 444,
 446,
 447,
 448,
 449,
 450,
 453,
 455,
 457,
 458,
 459,
 460,
 463,
 464,
 466,
 467,
 469,
 471,
 472,
 473,
 474,
 475,
 478,
 480,
 484,
 485,
 486,
 487,
 488,
 490,
 491,
 492,
 494,
 496,
 498,
 500,
 501,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 517,
 519,
 520,
 521,
 522,
 523,
 526,
 528,
 529,
 530,
 531,
 532,
 534,
 535,
 536,
 538,
 542,
 545,
 546,
 547,
 553,
 554,
 555,
 556,
 566,
 567,
 568,
 577,
 582,
 583,
 584,
 588,
 589,
 594,
 605,
 606,
 614,
 617,
 622,
 627,
 628,
 633,
 638,
 640,
 642,
 643,
 645,
 646,
 649,
 654,
 655,
 656,
 657,
 660,
 665,
 667,
 671,
 680,
 682,
 684,
 685,
 686,
 688,
 691,
 695,
 698,
 699,
 703,
 704,
 708,
 712,
 713,
 714,
 718,
 719,
 721,
 724,
 730,
 731,
 736,
 740,
 744,
 745,
 747,
 748,
 750,
 754,
 757,
 758,
 759,
 768,
 774,
 780,
 782,
 783,
 793,
 795,
 798,
 805,
 810,
 811,
 812,
 816,
 820,
 824,
 828,
 831,
 832,
 835,
 845,
 847,
 848,
 849,
 850,
 851,
 853,
 854,
 859,
 860,
 861,
 862,
 864,
 869,
 875,
 882,
 884,
 885,
 897,
 899,
 901,
 909,
 924,
 928,
 929,
 931,
 933,
 934,
 936,
 939,
 940,
 941,
 944,
 946,
 950,
 951,
 958,
 964,
 971,
 974,
 976,
 977,
 986,
 988,
 993,
 994,
 998,
 1001,
 1006,
 1007,
 1008,
 1010,
 1012,
 1014,
 1016,
 1020,
 1021,
 1022,
 1032,
 1038,
 1039,
 1042,
 1043,
 1050,
 1051,
 1052,
 1054,
 1056,
 1057,
 1060,
 1064,
 1068,
 1070,
 1072,
 1073,
 1074,
 1075,
 1081,
 1082,
 1083,
 1088,
 1089,
 1090,
 1091,
 1092,
 1095,
 1102,
 1108,
 1111,
 1113,
 1121,
 1122,
 1123,
 1124,
 1125,
 1128,
 1129,
 1130,
 1132,
 1136,
 1137,
 1139,
 1140,
 1141,
 1143,
 1148,
 1149,
 1159,
 1164,
 1167,
 1171,
 1172,
 1173,
 1177,
 1180,
 1181,
 1182,
 1183,
 1184,
 1185,
 1186,
 1190,
 1191,
 1194,
 1195,
 1205,
 1206,
 1210,
 1211,
 1213,
 1215,
 1218,
 1225,
 1227,
 1234,
 1235,
 1236,
 1240,
 1243,
 1245,
 1247,
 1251,
 1256,
 1257,
 1258,
 1261,
 1262,
 1263,
 1264,
 1266,
 1267,
 1269,
 1271,
 1274,
 1277,
 1281,
 1282,
 1287,
 1288,
 1289,
 1297,
 1302,
 1303,
 1307,
 1308,
 1315,
 1317,
 1319,
 1320,
 1321,
 1322,
 1325,
 1326,
 1329,
 1331,
 1333,
 1336,
 1339,
 1340,
 1342,
 1343,
 1351,
 1355,
 1362,
 1366,
 1370,
 1372,
 1392,
 1393,
 1397,
 1400,
 1401,
 1403,
 1405,
 1406,
 1407,
 1408,
 1410,
 1414,
 1421,
 1422,
 1423,
 1424,
 1425,
 1431,
 1432,
 1436,
 1437,
 1444,
 1445,
 1450,
 1451,
 1455,
 1456,
 1459,
 1460,
 1461,
 1462,
 1464,
 1484,
 1486,
 1492,
 1495,
 1499,
 1501,
 1505,
 1508,
 1513,
 1519,
 1521,
 1525,
 1529,
 1535,
 1536,
 1539,
 1541,
 1542,
 1546,
 1549,
 1552,
 1553,
 1555,
 1557,
 1558,
 1566,
 1571,
 1581,
 1583,
 1586,
 1593,
 1595,
 1599,
 1600,
 1601,
 1602,
 1604,
 1605,
 1607,
 1617,
 1619,
 1622,
 1629,
 1630,
 1631,
 1632,
 1633,
 1639,
 1641,
 1644,
 1648,
 1650,
 1656,
 1663,
 1665,
 1676,
 1678,
 1679,
 1688,
 1692,
 1693,
 1705,
 1713,
 1714,
 1720,
 1725,
 1730,
 1731,
 1739,
 1745,
 1769,
 1780,
 1786,
 1790,
 1802,
 1803,
 1809,
 1810,
 1815,
 1818,
 1819,
 1823,
 1839,
 1851,
 1853,
 1858,
 1870,
 1878,
 1880,
 1892,
 1893,
 1894,
 1896,
 1903,
 1908,
 1910,
 1912,
 1917,
 1924,
 1936,
 1938,
 1940,
 1954,
 1955,
 1957,
 1958,
 1968,
 1973,
 1981,
 1984,
 1985,
 1990,
 1995,
 2001,
 2002,
 2005,
 2006,
 2009,
 2011,
 2012,
 2015,
 2024,
 2026,
 2030,
 2032,
 2035,
 2041,
 2044,
 2046,
 2048,
 2049,
 2051,
 2052,
 2057,
 2060,
 2069,
 2070,
 2073,
 2074,
 2075,
 2077,
 2078,
 2079,
 2083,
 2090,
 2092,
 2098,
 2112,
 2115,
 2117,
 2121,
 2122,
 2130,
 2137,
 2147,
 2171,
 2187,
 2193,
 2194,
 2197,
 2204,
 2209,
 2213,
 2216,
 2223,
 2224,
 2231,
 2233,
 2236,
 2250,
 2252,
 2253,
 2254,
 2260,
 2268,
 2269,
 2270,
 2274,
 2277,
 2278,
 2286,
 2295,
 2300,
 2313,
 2316,
 2317,
 2318,
 2321,
 2328,
 2337,
 2341,
 2344,
 2353,
 2358,
 2361,
 2362,
 2367,
 2368,
 2373,
 2374,
 2380,
 2394,
 2403,
 2412,
 2418,
 2420,
 2439,
 2444,
 2445,
 2464,
 2470,
 2474,
 2477,
 2487,
 2488,
 2506,
 2513,
 2516,
 2517,
 2520,
 2523,
 2524,
 2525,
 2532,
 2546,
 2548,
 2554,
 2555,
 2559,
 2564,
 2567,
 2578,
 2585,
 2588,
 2598,
 2605,
 2609,
 2614,
 2615,
 2631,
 2633,
 2651,
 2663,
 2665,
 2672,
 2675,
 2684,
 2709,
 2726,
 2746,
 2747,
 2749,
 2751,
 2758,
 2766,
 2773,
 2782,
 2783,
 2794,
 2795,
 2796,
 2798,
 2829,
 2831,
 2839,
 2842,
 2853,
 2858,
 2872,
 2896,
 2902,
 2904,
 2906,
 2913,
 2915,
 2924,
 2925,
 2931,
 2932,
 2954,
 2956,
 2965,
 2972,
 2983,
 2992,
 3023,
 3040,
 3045,
 3049,
 3050,
 3051,
 3056,
 3063,
 3070,
 3071,
 3073,
 3075,
 3085,
 3095,
 3097,
 3098,
 3107,
 3114,
 3123,
 3124,
 3135,
 3155,
 3158,
 3159,
 3161,
 3176,
 3181,
 3182,
 3187,
 3191,
 3219,
 3234,
 3244,
 3249,
 3250,
 3256,
 3257,
 3258,
 3261,
 3264,
 3280,
 3302,
 3329,
 3339,
 3342,
 3345,
 3350,
 3361,
 3371,
 3385,
 3390,
 3391,
 3409,
 3415,
 3416,
 3419,
 3421,
 3422,
 3429,
 3431,
 3442,
 3443,
 3444,
 3455,
 3486,
 3487,
 3496,
 3502,
 3520,
 3526,
 3527,
 3530,
 3534,
 3535,
 3542,
 3544,
 3552,
 3553,
 3555,
 3558,
 3573,
 3574,
 3575,
 3603,
 3608,
 3609,
 3613,
 3623,
 3627,
 3646,
 3650,
 3654,
 3655,
 3657,
 3658,
 3667,
 3673,
 3674,
 3677,
 3682,
 3685,
 3740,
 3744,
 3775,
 3779,
 3781,
 3783,
 3803,
 3806,
 3820,
 3824,
 3826,
 3832,
 3836,
 3840,
 3855,
 ...]

In [64]:
knn.fit(d.iloc[:,:], d.index)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [68]:
predictions = knn.predict(d.iloc[:,:])

In [69]:
joblib.dump(knn, "trained-model.pkl")

['trained-model.pkl']

List index 0 = performer, following list indices are that performer's nearest neighbors.

In [77]:
dist, ind = knn.kneighbors(d.loc[583,:].values.reshape(1, -1))
print(ind[0])

[ 300 2442  475  227  596]

In [78]:
dist

array([[0.        , 2.44948974, 2.64575131, 2.64575131, 2.64575131]])

In [79]:
[list(d.index)[i] for i in ind[0]]

[583, 25285, 1128, 444, 1461]